apiVersion: v1
kind: Service
metadata:
  name: nginx-rollout-demo
  namespace: default
  labels:
    app: nginx-rollout-demo
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: nginx-rollout-demo
